body {overflow: hidden}
#loading {
    background: white;
    height:100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 500;
}
.tr-op {-webkit-transition:opacity 300ms ease-in-out !important;transition:opacity 300ms ease-in-out !important;}

#loading svg {
    fill:#c64c34;
    height:91px;
    width:87px;
    position: absolute;
    top:50%;
    left:50%;
    z-index: 510;
    transform: translate(-50%,-50%);
}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.slow{-webkit-animation-duration:2s;animation-duration:2s}.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}@-webkit-keyframes fade-pulse{0%{opacity:.5}50%{opacity:1}100%{opacity:.5}}@keyframes fade-pulse{0%{opacity:.5}50%{opacity:1}100%{opacity:.5}}.fade-pulse{-webkit-animation-name:fade-pulse;animation-name:fade-pulse}
.hide {display:none;}
.initH, .hidden {
    opacity: 0;
}
.delay-01 {transition-delay:187.5ms !important;}
.delay-01 {transition-delay:375ms !important;}
.delay-02 {transition-delay:750ms !important;}

#loading.done {
    opacity: 0;
}