/*SOS Parallax Scenes*/


/* --------------------------- Scenes Container ---------------------------- */
.site-header-layout.initH {opacity: 1 !important;}
.scene-container {
    opacity: 0;
}
.scene-container.active {
    opacity: 1;
}
.site-header-layout {
    position: relative;

    height: 2000px;
    overflow: hidden;
    margin-bottom: -280px;
}

.site-header-layout_scene {
    height: 100%;
    width: 100%;
}

main {position: relative;z-index: 10;}
/*Layers*/
.scene-layer {
    position: absolute;

    background-repeat:no-repeat !important;
    background-position:center bottom !important;
    background-size:100% !important;

    height: 100%;
    width: 100%;
    will-change:transform;
}

/*Stack Order*/
.scene-layer--1 {z-index: 5; }
.scene-layer--2 {z-index: 4;}
.scene-layer--3 {z-index: 3;}
.scene-layer--4 {z-index: 2;}
.scene-layer--5 {z-index: 1; background-size:100% !important;}


.scene-layer--2 {background-position: 0 -50px !important;}
.scene-layer--3 {background-position: 0 60px !important;}
.scene-layer--4 {background-position: 0 -120px !important;}
.scene-layer--5 {background-position: 0 60px !important;}




/* ---------------------------------- CTA ---------------------------------- */
#header-cta {
    width: 100%;
    max-width:15.5rem;
    position: absolute;
    z-index: 20;
    top: 25.25rem;
    left: 50%;
    transform: translate(-50%, -50%);
    will-change:top;

}
#header-cta img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width:12.5rem;
}

/* Media Query */
/*Medium*/
/*@media only screen and (max-width: 1178px) {
    .scene-layer--1 {
        transform:none !important;
        background-position: 0 -80px !important;
    }
}*/

@media only screen and (min-width: 1024px) and (max-width: 1090px) {
    .site-header-layout {height: 1920px;}
}
@media only screen and (min-width: 966px) and (max-width: 1023px) {
    .site-header-layout {height: 1820px;}
}
@media only screen and (min-width: 909px) and (max-width: 965px) {
    .site-header-layout {height: 1730px;}
}
@media only screen and (min-width: 858px) and (max-width: 908px) {
    .site-header-layout {height: 1650px;}
}
@media only screen and (min-width: 814px) and (max-width: 857px) {
    .site-header-layout {height: 1578px;}
}
@media only screen and (min-width: 768px) and (max-width: 813px) {
    .site-header-layout {height: 1510px;}
}
@media only screen and (max-width: 1140px) {

    .scene-layer--1,
    .scene-layer--2,
    .scene-layer--4,
    .scene-layer--5
     {background-position: 0 0 !important;}
    .scene-layer--1 {
        transform:none !important;
    }
}





/*Small*/
@media only screen and (max-width: 768px) {
    .site-header-layout {height: auto;margin-bottom: 0}

    #scene-2 img {
        display: block;
        max-width: 100%;
        margin: 3em 0 0  0;
        width: 100%;
    }

    #header-cta {
        max-width: 60%;
        top: 50%;
    }

}
