    <!-- DIVIDER TWO -->
    <div class="center flex justify-between mw-84 ph3 ph4-ns" id="divider-skull">
        <div class="br1 h-2 ie-flex-shrink w-100 h-4-ns" id="divider-skull-left">
        </div>


        <div class="tc" id="skull-red"><img src="images/svg/_divider_Invited_Skull_icon.svg">
        </div>


        <div class="br1 h-2 ie-flex-shrink w-100 h-4-ns" id="divider-skull-right">
        </div>
      </div>
      <!-- END DIVIDER TWO -->
