<h1 id='faq'>
<div>
  <div>What is SOS Invitational?</div>
  <div>The SOS invitational is an online event that will take place Spetember 30th and October 1st. It will feature the world's most charismatic and crafty personalities for a two not-to-be-missed days of friendship and betrayal.</div>
</div>
<div>
    <div>Who gets to participate</div>
    <div>Amarant has already hand picked 100 well known invividuals to be a part of the invitational. The other 100 will be chosen through a rigorous audition process, where applicaitons will have to demonstrate their allure to our panel of judges for the chance to compete</div>
</div>
<div>
    <div>Can I play SOS without being a part of the invitional</div>
    <div>Yes! Head over to  sosgame.com and register for our Closed Beta waitlist for a chance to play.</div>
</div>
<div>
    <div>What qualities are you hoping to find in qualified applicants during the audition process?</div>
    <div>We're looking for people who want to put on a good show! This can be through roleplay, or simply by being your bubbly self. Check out our audition page for more information.</div>
</div>
<div>
    <div>Where can I watch the invitational?</div>
    <div>We're encouraging all participants to stream their performances live. You can see a directory of streams and influence the game via voting and feedback at hero.tv/invitational</div>
</div>
</h1>
