

  <div class="center w-100 white f5  mw-80 mt4 pt3 f-50-ns pa2 pt4-ns tc">FAQ</div>

<div id='faq' class="center flex flex-wrap justify-between proud-present cf v-top">
  <div class='f5 lh-copy measure pt3  f-18-ns pt4-ns w-50 pa2 tl v-top'>
    <div>
      <div class="v-top white f5 lh-copy mw-80 pt3 f-18-ns pa2 pt4-ns tl">What is SOS Invitational?</div>
      <div class="v-top yellow f5 lh-copy mw-80 pt3 f-18-ns pa2 pt4-ns tl">The SOS invitational is an online event that will take place Spetember 30th and October 1st. It will feature the world's most charismatic and crafty personalities for a two not-to-be-missed days of friendship and betrayal.</div>
    </div>


    <div>
        <div class="v-top tl  fw3 white   f-10-ns">Who gets to participate</div> <br>
        <div class="v-top tl  fw3 yellow   f-10-ns">Amarant has already hand picked 100 well known invividuals to be a part of the invitational. The other 100 will be chosen through a rigorous audition process, where applicaitons will have to demonstrate their allure to our panel of judges for the chance to compete</div>
    </div>
    <br>
    <div>
        <div class=" tl  fw3 white   f-10-ns">Can I play SOS without being a part of the invitional</div> <br>
        <div class=" tl  fw3 yellow   f-10-ns">Yes! Head over to  sosgame.com and register for our Closed Beta waitlist for a chance to play.</div>
    </div>
  </div>


  <div class='f5 lh-copy measure mt4 pt3  f-18-ns pt4-ns w-50 pa2 tl v-top'>

      <div>
          <div class="v-top tl  fw3 white   f-10-ns">What qualities are you hoping to find in qualified applicants during the audition process?</div> <br>
          <div class="v-top tl  fw3 yellow   f-10-ns">We're looking for people who want to put on a good show! This can be through roleplay, or simply by being your bubbly self. Check out our audition page for more information.</div>
      </div>
    <br>
      <div>
          <div class="v-top tl  fw3 white   f-10-ns">Where can I watlh the invitational?</div> <br>
          <div class="v-top tl  fw3 yellow   f-10-ns">We're encouraging all participants to stream their performances live. You can see a directory of streams and influence the game via voting and feedback at hero.tv/invitational</div>
      </div>

  </div>

</div>
