<div class="center flex flex-wrap justify-between" id="four-boxes">
  <div class="dt h-100">
    <p class="dark-red dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>1</span><br>
    Island</p>
  </div>


  <div class="dt h-100">
    <p class="dark-red dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>16</span><br>
    Contestants</p>
  </div>


  <div class="dt h-100">
    <p class="dark-red dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>30</span><br>
    Minutes</p>
  </div>


  <div class="dt h-100">
    <p class="dark-red dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>3</span><br>
    Survivors</p>
  </div>
</div>
