<div class="center flex flex-wrap justify-between" id="four-boxes-season">
  <div class="dt h-100">
    <p class="dark-red center dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>100</span><br>
    Proven <br>performers</p>
  </div>


  <div class="dt h-100">
    <p class="dark-red center dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>100</span><br>
    rising <br>stars</p>
  </div>


  <div class="dt h-100">
    <p class="dark-red dtc center 2-winner fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>2</span><br>
    Winners</p>
  </div>


  <div class="dt h-100">
    <p class="dark-red center dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>1</span><br>
    Hell of <br>   a show</p>
  </div>
</div>
