<div class="ph3 ph4-ns" id="invitation">
  <div class="center" id="invitation-view">
    <div id="invitation-logo" class="dt h-100">

    </div>
    <div class="dt h-100 banner">
      <p class="dark-red center dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns">join us the weekend of<br>
    </div>
    <p class="red f6 lh-copy mt4 pt3 tc f-3-ns pt4-ns">SEPTEMBER 30<span>th</span> & OCTOBER 1<span>st</span> <br> NOON - 6PM PDT</p>


  </div>
</div>



<div class="center flex flex-wrap justify-between" id="four-boxes">
  <div class="dt h-100">
    <p class="dark-red center dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>100</span><br>
    Proven <br>performers</p>
  </div>


  <div class="dt h-100">
    <p class="dark-red center dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>100</span><br>
    rising <br>stars</p>
  </div>


  <div class="dt h-100">
    <p class="dark-red dtc center 2-winner fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>2</span><br>
    Winners</p>
  </div>


  <div class="dt h-100">
    <p class="dark-red center dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns"><span>1</span><br>
    Hell of <br>   a show</p>
  </div>
</div>
