<div class='center invitation-season-z w-100'>

    <div class="ph3 ph4-ns position-over" id="invitation-season">
      <div class="center" id="invitation-view-season">
        <div id="invitation-logo-season" class="dt h-100 center">

        </div>
        <div class="dt h-100 banner logo-words">
          <p class="dark-red center dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns">join us the weekend of<br>
        </div>

        <p class="white f6 lh-copy pt3 tc f-3-ns pt4-ns"> <span>SEPTEMBER 30 <span>th</span> </span>   <span>& OCTOBER 1 <span>st</span></span>  <br> <span>NOON - 6PM PDT</span></p>

      </div>
    </div>

</div>

