<div class="ph3 ph4-ns center" id="invitation-season">
  <div class="center" id="invitation-view-season">
    <div id="invitation-logo-season" class="dt h-100 center">

    </div>
    <div class="dt h-100 banner">
      <p class="dark-red center dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns">join us the weekend of<br>
    </div>

    <p class="red f6 lh-copy mt4 pt3 tc f-3-ns pt4-ns">SEPTEMBER 30<span>th</span> & OCTOBER 1<span>st</span> <br> NOON - 6PM PDT</p>

  </div>
</div>
