<nav class="initH tr-op delay-01 site-nav-layout bg-white fixed shadow-4 top-0 w-100 z-1" >
  <!-- BEGIN HAMBURGER MENU -->
  <div class="absolute ml3 pointer z-1   ml4-ns  dn-xl" id="menu-button" role="button">
    <div class="hamburger">
      <div class="inner"></div>
    </div>
  </div>
  <!-- END HAMBURGER MENU -->


  <img class="db absolute center top-0 right-0 bottom-0 left-0" style="width:127px;height:39px;margin-top:.66rem;backface-visibility: hidden;" src="/images/logos/sos_logo.svg" />



  <!-- Mobile Login Button -->
  <a class="dn b--light-silver ba br2 bw1 f6 fw7 silver hover-bg-light-silver hover-white no-underline ph3 tc tracked-narrow ttu absolute top-0 right-0 dn-xl mr3  db-ns mr4-ns" style="height:2.125rem;
  padding-top:.5rem; margin-top:13px;backface-visibility: hidden;" target="_blank" href="https://www.outpostgames.com/login">Log In</a>
  <!-- Mobile Login Button -->


  <div class="bg-white dt center fixed vh-100 w-100 ph3 nav      db-xl h-100-xl mw-80-xl static-xl">
    <div class="dtc v-mid h-100   flex-xl items-center-xl justify-between-xl navbar-wrap">
      <!-- Page Nav -->
      <div class="mb4 pb4 tc   mb0-xl pb0-xl tl-xl navbar_links" data-gumshoe id="page-nav">
        <a class="red db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl   nav-link-one" data-scroll href="#overview">Overview</a>
        <a class="red db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl   nav-link-two" data-scroll href="#media">Media</a>
        <a class="red db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl   nav-link-three" data-scroll href="#live-premiere">Live Premiere</a>
        <a class="red db f4 fw7 hover-light-silver lh-solid link pointer tracked ttu       di-xl f5-xl fw8-xl          nav-link-four" target="_blank" href="https://feedback.sosgame.com/">Support</a>
      </div>
      <!-- End Page Nav -->

      <div class="flex-xl flex-row-reverse-xl items-center-xl navbar_actions cf">
        <!-- Sign Up & Log In Buttons -->
        <div class="center flex mb3 pb2 cf mb0-xl pb0-xl" id="account-buttons">
          <a class="nav-link-five b--red ba bg-red br2 bw1 db f5 fw7 hover-bg-white hover-red no-underline ph3 tc tracked-narrow ttu white" data-scroll href="#beta">Beta Sign Up</a>
          <a class="b--light-silver ba br2 bw1 db f5 fw7 silver hover-bg-light-silver hover-white no-underline ph3 tc tracked-narrow ttu" href="https://www.outpostgames.com/login">Log In</a>
        </div>
        <!-- End Sign Up & Log In Buttons -->
        <!-- Social Media Links -->
        <div class="center flex" id="social-links">
          <a class="no-underline" target="_blank" href="https://www.facebook.com/playsosgame">
            <svg class="red hover-light-silver" style="fill:currentColor;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 19">
              <path d="M9,4.82H7.36c-1.28,0-1.52.6-1.52,1.47V8.22H8.9l-.41,3H5.84V19H2.66V11.25H0v-3H2.66V6a3.68,3.68,0,0,1,4-4A20.7,20.7,0,0,1,9,2.12Z"/>
            </svg>
          </a>
          <a class="no-underline" target="_blank" href="https://twitter.com/playsosgame">
            <svg class="red hover-light-silver" style="fill:currentColor;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 19">
              <path d="M14.36,7.88c0,.14,0,.28,0,.43A9.27,9.27,0,0,1,5,17.64a9.26,9.26,0,0,1-5-1.47,6.74,6.74,0,0,0,.79,0,6.57,6.57,0,0,0,4.07-1.4A3.29,3.29,0,0,1,1.8,12.53a4.12,4.12,0,0,0,.62.05,3.46,3.46,0,0,0,.86-.11A3.28,3.28,0,0,1,.65,9.25v0a3.3,3.3,0,0,0,1.48.42,3.29,3.29,0,0,1-1-4.39A9.32,9.32,0,0,0,7.88,8.67a3.69,3.69,0,0,1-.08-.75,3.28,3.28,0,0,1,5.67-2.24,6.46,6.46,0,0,0,2.08-.79,3.27,3.27,0,0,1-1.44,1.81A6.57,6.57,0,0,0,16,6.19,7,7,0,0,1,14.36,7.88Z"/>
            </svg>

          </a>
          <a class="no-underline" target="_blank" href="https://www.twitch.tv/outpostgames">
            <svg class="red hover-light-silver" style="fill:currentColor;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 19">
              <path d="M16,12.35l-4.36,4.43H8.32L6.14,19H4V16.78H0V5l1.1-3H16ZM14.5,11.6V3.48H2.5V14.2H5.77v2.22L8,14.2h4ZM8,10.87H6.5V6.43H8Zm4,0H10.5V6.43H12Z"/>
            </svg>
          </a>
          <a class="no-underline" target="_blank" href="https://www.youtube.com/sos">
            <svg class="red hover-light-silver" style="fill:currentColor;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 19">
              <path d="M15.3,3.83a2.51,2.51,0,0,1,1.81.78,3.29,3.29,0,0,1,.71,1.84,25.62,25.62,0,0,1,.18,3v1.4a25.61,25.61,0,0,1-.18,3,3.34,3.34,0,0,1-.71,1.84,2.54,2.54,0,0,1-1.81.77s-2.51.2-6.3.2c-4.68,0-6.11-.19-6.11-.19a3,3,0,0,1-2-.78,3.34,3.34,0,0,1-.71-1.84,25.61,25.61,0,0,1-.18-3V9.44a25.62,25.62,0,0,1,.18-3A3.29,3.29,0,0,1,.9,4.61,2.51,2.51,0,0,1,2.7,3.83S5.21,3.64,9,3.64,15.3,3.83,15.3,3.83ZM12,10,7.14,7.35v5.19Z"/>
            </svg>
          </a>
          <a class="no-underline" target="_blank" href="https://www.reddit.com/r/sosgame">
            <svg class="red hover-light-silver" style="fill:currentColor;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 19">
              <path d="M16.9,10.43a3.86,3.86,0,0,1,.12,1c0,3.18-3.58,5.75-8,5.75s-8-2.57-8-5.75a4.19,4.19,0,0,1,.11-.94A2,2,0,0,1,2,6.64a2,2,0,0,1,1.46.63A9.68,9.68,0,0,1,8.63,5.65L9.79.41A.35.35,0,0,1,10.2.15L13.91,1a1.5,1.5,0,1,1-.16.68L10.4.9l-1,4.74a9.73,9.73,0,0,1,5.21,1.61A2,2,0,0,1,16,6.64a2,2,0,0,1,.9,3.79ZM5.7,12.15a1.5,1.5,0,1,0-1.5-1.51A1.5,1.5,0,0,0,5.7,12.15Zm6.64,1.54a.36.36,0,0,0-.51,0A4.37,4.37,0,0,1,9,14.51a4.37,4.37,0,0,1-2.82-.82.36.36,0,0,0-.51,0,.36.36,0,0,0,0,.52,5.17,5.17,0,0,0,3.33,1,5.17,5.17,0,0,0,3.33-1A.36.36,0,0,0,12.33,13.68Zm1.47-3a1.5,1.5,0,1,0-1.5,1.51A1.5,1.5,0,0,0,13.8,10.64Z"/>
            </svg>
          </a>
        </div>
        <!-- End Social Media Links -->
      </div>
    </div>
  </div>
</nav>
