<div style="position:relative">
    <h1 id="participants">LIST OF USERS</h1>

    <div>
      <a href="">
        <img class='circle-wrap' src="" alt="">
        <p class='contestant-name white'>Zach Galihanakis</p>
      </a>
    </div>

    <div>
        <a href="">
          <img class='circle-wrap' src="" alt="">
          <p class='contestant-name white'>Bone</p>
        </a>
    </div>


    <div>
        <a href="">
          <img class='circle-wrap' src="" alt="">
          <p class='contestant-name white'>David "Starman" Bowie</p>
        </a>
      </div>
      <div>
          <a href="">
            <img class='circle-wrap' src="" alt="">
            <p class='contestant-name white'>John Lennon</p>
          </a>
    </div>

    <div>
        <a href="">
          <img class='circle-wrap' src="" alt="">
          <p class='contestant-name white'>John Fitzgerald Kennedy</p>
        </a>
      </div>
      <div>
          <a href="">
            <img class='circle-wrap' src="" alt="">
            <p class='contestant-name white'>Keanu Reeves</p>
          </a>
    </div>

    <div>
        <a href="">
          <img class='circle-wrap' src="" alt="">
          <p class='contestant-name white'>James Douglas Morrison</p>
        </a>
      </div>
      <div>
          <a href="">
            <img class='circle-wrap' src="" alt="">
            <p class='contestant-name white'>Elvis Asron Presley</p>
          </a>
    </div>

    <div>
        <a href="">
          <img class='circle-wrap' src="" alt="">
          <p class='contestant-name white'>Nicolas Cage</p>
        </a>
      </div>
      <div>
          <a href="">
            <img class='circle-wrap' src="" alt="">
            <p class='contestant-name white'>Robert de Niro</p>
          </a>
    </div>




</div>
