<div>AMARANT IS PROUD TO PRESENT</div>
<!-- TODO format it to be large -->
<div>
  THE SOS INVITATIONAL
</div>

<!-- TODO single row of  -->
<div>
  Where 200 of the world's top performers will compete for fame and fortune on La Cuna Island.
</div>

<div>
  Join us the weekend of September 30th for two days of scheming strategizing, shooting, backstabbing, frontstabbing, and for a lucky few, surviving.
</div>

<div>
    In the end, two contestants will be crowned champions for all the world to see.
  </div>


<div>
  We've already sent 100 invitations but we're looking for 100 more. If you think you've got the guts, guile and questionable moral compass to compete, submit your audition tape below.
</div>

<div>
  For the rest-enjoy the show and influence the action at <a href="hero.tv/invitational">hero.tv/invitational</a>
</div>
