
  <div id="banner" class="center dt h-100 banner">
      <p class="dark-red center dtc fw7 pv3 tc tracked-narrow ttu v-mid pv0-ns">Amarant is proud to present
  </div>





<div class="audition-open-season mw-50">

        <div class="center tc f-32 fw7 white ttu f-50-ns">

            the SOS Invitational
        </div>
        <div class="yellow f5 lh-copy mt4 pt3 f-18-ns pt4-ns pa2 tc">
            Where 200 of the world's top performers will compete for fame and fortune on La Cuna Island.
        </div>

        <div class="yellow f5 lh-copy mt4 pt3 f-18-ns pt4-ns pa2 tc flex flex-wrap justify-between">
            <div class="yellow f5 lh-copy measure  pt3  f-18-ns pt4-ns w-50 pa2 tl">
                One contestant will win based on survival. One contestant will be selected by the audience as the most famous.

                The other 198... are unrecoverable.

                Join us for two days of competition, fun and bragging rights! In the end, only two contestants will be ccrowned winners.
              </div>
              <div class="yellow f5 lh-copy measure pt3 f-18-ns pt4-ns w-50 pa2 tl">

                  In addition to the 100 invitations that have already been sent, Amarant is making 100 spots available for the public to audition.

                  If you have a flair for exceptional audience entertainment and want to test your skills against the best, submit your audition tapes for processing below.
              </div>

        </div>

</div>



