<div class="center flex flex-wrap justify-between proud-present cf">

  <div class="yellow f5 lh-copy mw-80 mt4 pt3 f-18-ns pa2 pt4-ns tl">
  Amarant is proud ot present the SOS inaugural Invitational, featuring 200 hand-picked contestants chosen from the world's leading performance talent.


  </div>
  <div class="yellow f5 lh-copy measure mt4 pt3  f-18-ns pt4-ns w-50 pa2 tl">
    One contestant will win based on survival. One contestant will be selected by the audience as the most famous.

    The other 198... are unrecoverable.

    Join us for two days of competition, fun and bragging rights! In the end, only two contestants will be ccrowned winners.
  </div>
  <div class="yellow f5 lh-copy measure mt4 pt3 f-18-ns pt4-ns w-50 pa2 tl">

      In addition to the 100 invitations that have already been sent, Amarant is making 100 spots available for the public to audition.

      If you have a flair for exceptional audience entertainment and want to test your skills against the best, submit your audition tapes for processing below.
  </div>

</div>
