<div class="ph3 ph4-ns" id="record">
  <div class="center flex flex-wrap justify-between center" id="record-view">
    <div class="dt h-100">
      <p class="yellow dtc fw7 pv3 tc tracked-narrow ttu v-mid pb0-ns pt2-ns">record <br><span>your audition</span> </p>
    </div>


    <div class="dt h-100">
      <p class="yellow dtc fw7 pv3 tc tracked-narrow ttu v-mid pb0-ns pt2-ns">send<br><span>and apply</span> </p>
    </div>

    <div class="dt h-100">
      <p class="yellow dtc fw7 pv3 tc tracked-narrow ttu v-mid pb0-ns pt2-ns">Impress <br><span>our judges</span> </p>
    </div>

  </div>
</div>
