<div class='second-nav-wrapper'>
  <nav class='second-nav'>
    <div class="red db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl">hello world</div>
    <div class="red db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl">hello world</div>
    <div class="red db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl">hello world</div>
  </nav>
</div>

