<div class='second-nav-wrapper nav'>
  <nav class='second-nav ph1-x1 flex-xl mw-80-xl'>
    <a class="red db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl">Overview</a>
    <a class="red db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl">Audition</a>
    <a class="red db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl">participant</a>
    <a class="red db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl">FAQ</a>
  </nav>
</div>

