<div class='second-nav-wrapper nav w-100'>
  <nav class='second-nav ph1-x1 flex-xl w-80-xl'>
    <a class="white db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl" href=
    "#overview">Overview</a>
    <a class="white db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl" href=
    "#audition">Audition</a>
    <a class="white db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl"href=
    "#participants">participants</a>
    <a class="white db f4 fw7 hover-light-silver lh-solid link mb3 pointer tracked ttu   di-xl f5-xl fw8-xl mb0-xl"href=
    "#faq">FAQ</a>
  </nav>
</div>

