<div>
  <div class="center ph3 mw-67 ph4-ns" id="media">
    <div class="cf show center" id="image-gallery">

      <div class="item-big">
        <img alt="image" class="br2 dib" src="images/svg/survival_icon.svg">
        <p class='white tc fw7 lh-copy pb0-ns ttu f5 f-50-ns'>survival</p>
      </div>

      <div class="item-big">
        <img alt="image" class="br2 dib" src="images/svg/fame_icon.svg">
        <p class='white tc fw7 ttu lh-copy pb0-ns f5 f-50-ns'>fame</p>
      </div>

    </div>

  </div>
</div>


