<div>
  <div class="center ph3 mw-67 ph4-ns" id="media">
    <div class="cf show" id="image-gallery">

      <div class="large-box">
        <img alt="image" class="br2 dib" src="images/svg/survival_icon.svg">
      </div>

      <div class="large-box">
        <img alt="image" class="br2 dib" src="images/svg/fame_icon.svg">
      </div>

    </div>

  </div>
</div>
